**/.DS_Store
/.eggs/
/.idea/
**/__pycache__/
/PyComplexHeatmap.egg-info/
/notebooks/.ipynb_checkpoints/
/notebooks/*.pdf
/dist/
data/data.pkl
notebooks/oncoPrint3.ipynb
data/GBM_data.pkl
notebooks/GBM.ipynb
